.footer {
  padding: 4rem 2rem;
  background: var(--dark);
  color: var(--mid-gray);
  text-align: center;
}

.footerLogo {
  font-family: var(--font-poppins);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--light);
  margin-bottom: 1.5rem;
}

.footerLogo span {
  color: var(--orange);
}

.footer p {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.footerLinks {
  margin-top: 2rem;
}

.footerLinks a {
  color: var(--orange);
  text-decoration: none;
  transition: opacity 0.3s;
}

.footerLinks a:hover {
  opacity: 0.8;
}

.hiddenLink {
  color: var(--mid-gray) !important;
  text-decoration: none !important;
  cursor: default;
  transition: color 0.3s ease;
}

.hiddenLink:hover {
  color: var(--red) !important;
  cursor: pointer;
}
